@import '~ag-grid-community/src/styles/ag-theme-balham/sass/ag-theme-balham-mixin';

.ag-theme-balham {
  @include ag-theme-balham(
    (
      selected-row-background-color: rgba(#0091ea, 0.25),
      range-selection-background-color: rgba(#0091ea, 0.2),
      range-selection-border-color: #0091ea
    )
  );

  .chem-grid_handleButtons,
  .chem-grid_base-checkbox,
  .chem-grid_pagination {
    color: ag-param(range-selection-border-color);
  }
}
