// 自定义拖拽排序样式
.customize_drag_content {
  width: 100%;
  height: 100%;

  .customize_drag__content-list {
    box-sizing: border-box;
    height: calc(100% - 32px);
    padding-bottom: 40px;
    overflow-y: auto;

    ul {
      position: relative;
      list-style: none;
      padding: 10px 0;

      li {
        transition: all ease 350ms;
        padding: 0 10px;
        .drag_title {
          display: inline-block;
          vertical-align: middle;
        }
        .ag-icon {
          @extend .drag_title;
          cursor: grab;
          padding: 0 4px;
        }
      }

      .customize_drag_content-mask {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 99;
        cursor: grab;
        background-color: rgba(0, 0, 0, 0);
      }
    }
  }
  // 按钮组
  .customize_drag_content-buttons {
    box-sizing: border-box;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid #dcdee3;
    .button {
      padding: 2px 6px;
      vertical-align: middle;
      margin-right: 12px;
      cursor: pointer;
      font-size: 12px;
      outline: none;
      border: 1px solid #c4c6cf;
      border-radius: 2px;
      background-color: transparent;
      transition: all 150ms;
      &:active {
        background-color: #c4c6cf;
      }
    }
  }
}
